

/* 상세 공통 */

.WorksTitle {
    width: 100%;
    font-family: NexaBlack;
    font-size: 48px;
    margin-top: 130px;
    line-height: 60px;
    text-align: center;
    /* position: absolute; */
}


.DiscriptionBg .discription {
    width: 75%;
    margin: 0 auto;
}

.DiscriptionBg .discription .info {
    width: 30%;
    float: left;
}

.DiscriptionBg .discription .info .text {
    width: 100%;
    font-size: 14px;
    line-height: 30px;
}

.DiscriptionBg .discription .info .icon {
    width: 100%;
    margin-top: 20px;
}

.DiscriptionBg .discription .summary {
    width: 70%;
    float: right;
    font-size: 16px;
    line-height: 30px;
}


/* 커피앳웍스 */

.CAW {
    width: 100%;
    position: relative;
}

.CAW .visual {
    width: 100%;
    height: 800px;
    background-color: #3c3f44;
    background: url(../img/works_coffeeatworks_bg1.png) bottom no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.CAW .DiscriptionBg {
    width: 100%;
    background-color: #1a1d20;
    padding: 60px 0;
}


.CAW .subtitle {
    width: 75%;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 36px;
    text-align: center;
}

.CAW .contents {
    width: 75%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}


/* 현대카라캐커 룸 & 큐브 */

.RoomCube_Top {
    width: 100%;
    height: 700px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #0199ee;
    background-image: url(../img/work_roomcube_00.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

.RoomCube_Top .title_wrap {
    width: 100%;
    top: 100px;
    margin: 0 auto;
    position: absolute;
}

.RoomCube_Top .title_wrap .logo {
    left: 50%;
    margin-left: -57px;
    width: 115px;
    height: 25px;
    background-image: url(../img/work_roomcube_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;;
    background-color: transparent;
}

.RoomCube_Top .title_wrap .title {
    margin: 50px auto;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.RoomCube_Con_Wrap {
    width: 100%;
    z-index: 3;
    position: relative;
    top: 700px;
    background-color: #ffffff;
}

.RoomCube_Con_Wrap .float {
    width: 100%;
}

.RoomCube_Con_Wrap .summary_L {
    width: 50%;
    height: 400px;
    background-color: #bdd3e5;
    background-image: url(../img/work_roomcube_01.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    float: left;
}

.RoomCube_Con_Wrap .summary_R {
    width: 50%;
    height: 400px;
    background-color: #f4f4f4;
    float: right;
}

.RoomCube_Con_Wrap .wrap {
    width: 70%;
    margin: 50px auto 20px auto;
}

.RoomCube_Con_Wrap .summary_R .title_L {
    width: 70%;
    float: left;
    font-size: 13pt;
    line-height: 180%;
    color: #333333;
}

.RoomCube_Con_Wrap .summary_R .title_R {
    width: 30%;
    float: right;
    text-align: right;
}

.RoomCube_Con_Wrap .summary_R .comment {
    width: 70%;
    font-size: 13pt;
    line-height: 180%;
    color: #666666;
    margin: 0 auto;
}

.RoomCube_Con_Wrap .wrap .category {
    height: 20px;
    border-bottom: solid 3px #0199ee;
    font-size: 10pt;
    color: #0199ee;
}

.roomcubeblue {
    color: #0199ee;
}

.RoomCube_Con_Wrap .research_L {
    width: 50%;
    height: 560px;
    float: left;
    background-color: #FFFFFF;
}

.RoomCube_Con_Wrap .wrap .research {
    width: 80px;
}

.RoomCube_Con_Wrap .Subject {
    color: #333333;
    font-size: 24pt;
    margin-top: 30px;
}

.RoomCube_Con_Wrap .text {
    color: #666666;
    font-size: 13pt;
    line-height: 180%;
    margin-top: 20px;
}

.RoomCube_Con_Wrap .research_R {
    width: 50%;
    height: 560px;
    float: right;
    background-color: #FFFFFF;
    background-image: url(../img/work_roomcube_02.png);
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.RoomCube_Con_Wrap .concept_L {
    width: 50%;
    height: 400px;
    float: left;
    margin-top: 50px;
}

.RoomCube_Con_Wrap .wrap .concept {
    width: 72px;
}


.RoomCube_Con_Wrap .concept_R {
    width: 50%;
    height: 400px;
    float: right;
    margin-top: 50px;
    background-image: url(../img/work_roomcube_03.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.RoomCube_Con_Wrap .proposal {
    width: 100%;
    height: 800px;
    background-color: #f0ede2;
    background-image: url(../img/work_roomcube_04.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.RoomCube_Con_Wrap .proposal_c {
    width: 140px;
    height: 20px;
    border-bottom: solid 3px #0199ee;
    font-size: 10pt;
    color: #0199ee;
    left: 7.5%;
    position: absolute;
    margin-top: 50px;
}

.RoomCube_Con_Wrap .final {
    width: 100%;
    height: 800px;
    background-color: #2454a2;
    background-image: url(../img/work_roomcube_05.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.RoomCube_Con_Wrap .final_c {
    width: 105px;
    height: 20px;
    border-bottom: solid 3px #0199ee;
    font-size: 10pt;
    color: #0199ee;
    left: 7.5%;
    position: absolute;
    margin-top: 50px;
}




/* 플립 리브랜딩 */

.PulipRebrand_Top {
    width: 100%;
    height: 700px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #e0e1e5;
    background-image: url(../img/work_puliprebranding_00.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

.PulipRebrand_Top .title_wrap {
    width: 100%;
    top: 100px;
    margin: 0 auto;
    position: absolute;
}

.PulipRebrand_Top .title_wrap .logo {
    left: 50%;
    margin-left: -32px;
    width: 85px;
    height: 57px;
    background-image: url(../img/work_puliprebranding_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;;
    background-color: transparent;
}

.PulipRebrand_Top .title_wrap .title {
    margin: 70px auto 0 auto;
    color: #333333;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.PulipRebrand_Con_Wrap {
    width: 100%;
    z-index: 3;
    position: relative;
    top: 700px;
    background-color: #ffffff;
}

.PulipRebrand_Con_Wrap .float {
    width: 100%;
}

.PulipRebrand_Con_Wrap .summary_L {
    width: 50%;
    height: 400px;
    background-color: #f2e3e7;
    background-image: url(../img/work_puliprebranding_01.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    float: left;
}

.PulipRebrand_Con_Wrap .summary_R {
    width: 50%;
    height: 400px;
    background-color: #f4f4f4;
    float: right;
}

.PulipRebrand_Con_Wrap .wrap {
    width: 70%;
    margin: 80px auto 80px auto;
}

.PulipRebrand_Con_Wrap .summary_R .title_L {
    width: 70%;
    font-size: 13pt;
    line-height: 180%;
    color: #333333;
    margin: 50px auto 30px auto;
}

.PulipRebrand_Con_Wrap .summary_R .comment {
    width: 70%;
    font-size: 13pt;
    line-height: 180%;
    color: #666666;
    margin: 0 auto;
}

.PulipRebrand_Con_Wrap .wrap .category {
    height: 20px;
    text-align: center;
    border-bottom: solid 3px #1b1b1b;
    font-size: 10pt;
    color: #1b1b1b;
    margin: 80px auto 50px auto;
}

.PulipRebrand_Con_Wrap .video {
    width: 1280px;
    height: 720px;
    margin:50px auto;
}

.PulipRebrand_Con_Wrap .wrap .prologue {
    width: 82px;
}

.PulipRebrand_Con_Wrap .Subject {
    color: #333333;
    font-size: 24pt;
    margin-top: 30px;
}

.PulipRebrand_Con_Wrap .text {
    color: #666666;
    font-size: 13pt;
    line-height: 180%;
    margin-top: 20px;
}

.PulipRebrand_Con_Wrap .research {
    width: 100%;
    height: 270px;
    background-color: #000000;
    background-image: url(../img/work_puliprebranding_02.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.PulipRebrand_Con_Wrap .float {
    width: 100%;
}

.PulipRebrand_Con_Wrap .visualize_L {
    width: 50%;
    height: 400px;
    float: left;
    background-image: url(../img/work_puliprebranding_03.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.PulipRebrand_Con_Wrap .four_R {
    width: 50%;
    height: 400px;
    float: right;
    background-image: url(../img/work_puliprebranding_04.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.PulipRebrand_Con_Wrap .final_one {
    width: 100%;
    height: 800px;
    background-color: #f0ede2;
    background-image: url(../img/work_puliprebranding_05.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.PulipRebrand_Con_Wrap .final_two {
    width: 100%;
    height: 800px;
    background-color: #f0ede2;
    background-image: url(../img/work_puliprebranding_06.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.PulipRebrand_Con_Wrap .final_three {
    width: 100%;
    height: 800px;
    background-color: #f0ede2;
    background-image: url(../img/work_puliprebranding_07.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.PulipRebrand_Con_Wrap .final_four {
    width: 100%;
    height: 800px;
    background-color: #f0ede2;
    background-image: url(../img/work_puliprebranding_08.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.PulipRed {
    color: #cc0000;
}

/* 플립 리브랜딩 */

.ffff_Top {
    width: 100%;
    height: 700px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #e62149;
    background-image: url(../img/work_ffff00_top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

.ffff_Top .title_wrap {
    width: 100%;
    top: 100px;
    margin: 0 auto;
    position: absolute;
}

.ffff_Top .title_wrap .logo {
    left: 50%;
    margin-left: -32px;
    width: 85px;
    height: 57px;
    background-image: url(../img/work_ffff00_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;;
    background-color: transparent;
}

.ffff_Top .title_wrap .title {
    margin: 70px auto 0 auto;
    color: #ffffff;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.ffff_Con_Wrap {
    width: 100%;
    z-index: 3;
    position: relative;
    top: 700px;
    background-color: #ffffff;
}

.ffff_Con_Wrap .float {
    width: 100%;
}

.ffff_Con_Wrap .summary_L {
    width: 50%;
    height: 400px;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    float: left;
}

.ffff_Con_Wrap .summary_R {
    width: 50%;
    height: 400px;
    background-color: #ffffff;
    float: right;
}

.ffff_Con_Wrap .wrap {
    width: 70%;
    margin: 80px auto 80px auto;
}

.ffff_Con_Wrap .summary_R .title_L {
    width: 70%;
    font-size: 13pt;
    line-height: 180%;
    color: #333333;
    margin: 50px auto 30px auto;
}

.ffff_Con_Wrap .summary_R .comment {
    width: 70%;
    font-size: 13pt;
    line-height: 180%;
    color: #666666;
    margin: 0 auto;
}

.ffff_Con_Wrap .Subject {
    color: #333333;
    font-size: 24pt;
    margin-top: 30px;
}

.PulipRebrand_Con_Wrap .text {
    color: #666666;
    font-size: 13pt;
    line-height: 180%;
    margin-top: 20px;
}

.ffff_Wrap .float {
    width: 100%;
}

.ffff_Con_Wrap .final_one {
    width: 100%;
    height: 800px;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_00.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_two {
    width: 100%;
    height: 800px;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_three {
    width: 50%;
    height: 400px;
    float: left;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_four {
    width: 50%;
    height: 400px;
    float: right;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.ffff_Con_Wrap .final_six {
    width: 100%;
    height: 800px;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_06.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.ffff_Con_Wrap .final_eight {
    width: 50%;
    height: 400px;
    float: left;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_08.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_nine {
    width: 50%;
    height: 400px;
    float: right;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_09.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_ten {
    width: 100%;
    height: 800px;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_tone {
    width: 50%;
    height: 400px;
    float: right;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_ttwo {
    width: 50%;
    height: 400px;
    float: left;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_tthree {
    width: 100%;
    height: 800px;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_tfour {
    width: 50%;
    height: 400px;
    float: left;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_tfive {
    width: 50%;
    height: 400px;
    float: right;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_15.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_tsix {
    width: 100%;
    height: 800px;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_tseven {
    width: 50%;
    height: 400px;
    float: left;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_17.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.ffff_Con_Wrap .final_teight {
    width: 50%;
    height: 400px;
    float: right;
    background-color: #dbe0e4;
    background-image: url(../img/work_ffff00_18.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}







/* 화장실 에티켓 일러스트 */

.Restroom {
    width: 100%;
    position: relative;
}

.Restroom .visual {
    width: 100%;
    height: 1600px;
    background-color: #a4adb7;
    background-image: url(../img/works_restroom_bg1.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.Restroom .DiscriptionBg {
    width: 100%;
    background-color: #778696;
    padding: 60px 0;
}


/* 크리스카스 카드 */

.XMas {
    width: 100%;
    position: relative;
}

.XMas .visual {
    width: 100%;
    height: 1150px;
    background-color: #e1c6c4;
    background-image: url(../img/works_xmascard_bg1.png);
    background-position: bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.XMas .DiscriptionBg {
    width: 100%;
    background-color: #e78e88;
    padding: 60px 0;
}



