@charset "UTF-8";

.sub .ImgMargin {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	z-index:4;
}

.sub .TitleMargin {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
	z-index:4;
}

.sub .SmallMarginBottom {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	z-index:4;
}

.project .NoMargin {
	margin-left:auto;
	margin-right:auto;
	z-index:4;
}

/*project thumbnail*/


.project .img_pulipre {
	width:300px;
	height:195px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_christmascard2013 {
	width:300px;
	height:195px;
	background:url(../images/020_2013XmasCard/020_2013chrismascard.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_mviosite {
	width:300px;
	height:195px;
	background:url(../images/001_MVIOProposal/001_mvio_site.png) left top no-repeat;
	background-size:300px 195px;
}	

.project .img_gore3l {
	width:300px;
	height:195px;
	background:url(../images/002_Goretex3LMovie/002_goretex_3l_movie.png) left top no-repeat;
	background-size:300px 195px;
}	

.project .img_0to7mobile {
	width:300px;
	height:195px;
	background:url(../images/003_0to7Mobile/003_0to7_mobile.png) left top no-repeat;
	background-size:300px 195px;
}	

.project .img_olympusfamily {
	width:300px;
	height:195px;
	background:url(../images/004_OlympusFamProposal/004_olympus_site.png) left top no-repeat;
	background-size:300px 195px;
}	

.project .img_biotermpromo {
	width:300px;
	height:195px;
	background:url(../images/005_BiotermProProposal/005_bioterm_promotion.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_titleistsite {
	width:300px;
	height:195px;
	background:url(../images/006_TitlelistApparel/006_titleist_site.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_goretexperformance {
	width:300px;
	height:195px;
	background:url(../images/007_GoretexPerforMovie/007_goretex_performance_movie.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_inglifemobile {
	width:300px;
	height:195px;
	background:url(../images/008_InglifeMobile/008_inglife_mobile.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_kyobolifesfa {
	width:300px;
	height:195px;
	background:url(../images/009_KyobolifeSFA/009_kyobolife_sfa.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_skv1dsp {
	width:300px;
	height:195px;
	background:url(../images/009_Skv1DSP/009_skv1_dsp.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_goreactive {
	width:300px;
	height:195px;
	background:url(../images/010_GoretexActMovie/010_goretex_active_movie.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_cjfreshianpromo {
	width:300px;
	height:195px;
	background:url(../images/011_CJFreshianProProposal/011_cjfreshian_promotion.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_oliveyoungsite {
	width:300px;
	height:195px;
	background:url(../images/012_OliveyoungProposal/012_oliveyoung_site.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_cjeduthink {
	width:300px;
	height:195px;
	background:url(../images/013_CJeduProposal/013_cjedu_site.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_amorepacificmall {
	width:300px;
	height:195px;
	background:url(../images/014_AmoreMallProposal/014_amorepacific_site.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_kcare {
	width:300px;
	height:195px;
	background:url(../images/015_KcareDraft/015_kcare_site.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_kiehlssite {
	width:300px;
	height:195px;
	background:url(../images/016_KiehlsProposal/016_kiehls_site.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_samsungux {
	width:300px;
	height:195px;
	background:url(../images/017_SamsungCameraUX/017_samsung_ux.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_lgcyonz {
	width:300px;
	height:195px;
	background:url(../images/018_LGcyonz/018_lgcyonz_site.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_kyobobookkiosk {
	width:300px;
	height:195px;
	background:url(../images/019_KyobobookKiosk/019_kyobobook_kiosk.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_IllustRestroom {
	width:300px;
	height:195px;
	background:url(../images/021_IllustRestroom/021_illust_for_restroom.png) left top no-repeat;
	background-size:300px 195px;
}


.project .img_GreenCrossIllust {
	width:300px;
	height:195px;
	background:url(../images/022_GreenCrossLifeLine/022_thumbnail.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_dongaholdings {
	width:300px;
	height:195px;
	background:url(../images/023_dongaholdings/023_thumbnail.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_samsungwems {
	width:300px;
	height:195px;
	background:url(../images/024_SamsungWEMS/024_thumbnail.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_hwashin {
	width:300px;
	height:195px;
	background:url(../images/025_hwashin/025_thumbnail.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_lbh {
	width:300px;
	height:195px;
	background:url(../images/026_LBH/026_thumbnail.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_sulhwasoo {
	width:300px;
	height:195px;
	background:url(../images/027_sulhwasoo/027_thumbnail.png) left top no-repeat;
	background-size:300px 195px;
}

.project .img_aceillust {
	width:300px;
	height:195px;
	background:url(../images/028_aceillust/028_thumbnail.png) left top no-repeat;
	background-size:300px 195px;
}



/*project_sub*/


/*project sub img - 000 Pulip Rebranding*/

.sub .sub_img_pulip_title {
	width:960px;
	height:540px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_pulip_one {
	width:960px;
	height:640px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_1.png) left top no-repeat;
	background-size:960px 640px;
}

.sub .sub_img_pulip_two {
	width:960px;
	height:160px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_2.png) left top no-repeat;
	background-size:960px 160px;
}

.sub .sub_img_pulip_three {
	width:960px;
	height:540px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_3.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_pulip_four {
	width:960px;
	height:640px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_4.png) left top no-repeat;
	background-size:960px 640px;
}

.sub .sub_img_pulip_five {
	width:960px;
	height:640px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_5.png) left top no-repeat;
	background-size:960px 640px;
}

.sub .sub_img_pulip_six {
	width:960px;
	height:640px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_6.png) left top no-repeat;
	background-size:960px 640px;
}

.sub .sub_img_pulip_seven {
	width:960px;
	height:640px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_7.png) left top no-repeat;
	background-size:960px 640px;
}

.sub .sub_img_pulip_eight {
	width:960px;
	height:640px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_8.png) left top no-repeat;
	background-size:960px 640px;
}

.sub .sub_img_pulip_nine {
	width:960px;
	height:640px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_9.png) left top no-repeat;
	background-size:960px 640px;
}

.sub .sub_img_pulip_ten {
	width:960px;
	height:640px;
	background:url(../images/000_PulipRebranding/000_pulip_rebranding_10.png) left top no-repeat;
	background-size:960px 640px;
}

.sub .sub_movie_pulip_big {
	width:960px;
	height:540px;
}

.sub .sub_movie_pulip_medium {
	display:none;
}

.sub .sub_movie_pulip_small {
	display:none;
}


/*project sub img - 001 mvio*/

.sub .sub_img_mvio_title {
	width:960px;
	height:540px;
	background:url(../images/001_MVIOProposal/001_mvio_site_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_mvio_one {
	width:960px;
	height:1372px;
	background:url(../images/001_MVIOProposal/001_mvio_site_01.png) left top no-repeat;
	background-size:960px 1372px;
}

.sub .sub_img_mvio_two {
	width:960px;
	height:312px;
	background:url(../images/001_MVIOProposal/001_mvio_site_02.png) left top no-repeat;
	background-size:960px 312px;
}

.sub .sub_img_mvio_three {
	width:960px;
	height:879px;
	background:url(../images/001_MVIOProposal/001_mvio_site_03.png) left top no-repeat;
	background-size:960px 879px;
}

.sub .sub_img_mvio_four {
	width:960px;
	height:890px;
	background:url(../images/001_MVIOProposal/001_mvio_site_04.png) left top no-repeat;
	background-size:960px 890px;
}



/*project sub img - 002 3l gore-tex */
.sub .SubImgTLGoreTexTitle {
	width:960px;
	height:540px;
	background:url(../images/002_Goretex3LMovie/001_goretex_3l_movie_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .SubImgTLGoreTexOne {
	width:960px;
	height:539px;
	background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_00.png) left top no-repeat;
	background-size:960px 539px;
}

.sub .SubImgTLGoreTexTwo {
	width:960px;
	height:539px;
	background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_01.png) left top no-repeat;
	background-size:960px 539px;
}

.sub .SubImgTLGoreTexThree {
	width:960px;
	height:539px;
	background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_02.png) left top no-repeat;
	background-size:960px 539px;
}

.sub .SubImgTLGoreTexFour {
	width:960px;
	height:539px;
	background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_03.png) left top no-repeat;
	background-size:960px 539px;
}

.sub .SubImgTLGoreTexFive {
	width:960px;
	height:539px;
	background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_04.png) left top no-repeat;
	background-size:960px 539px;
}

.sub .SubImgTLGoreTexSix {
	width:960px;
	height:539px;
	background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_05.png) left top no-repeat;
	background-size:960px 539px;
}

.sub .SubImgTLGoreTexSeven {
	width:960px;
	height:539px;
	background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_06.png) left top no-repeat;
	background-size:960px 539px;
}


/*project sub img - 004 olympus*/

.sub .SubImgOlympusTitle {
	width:960px;
	height:540px;
	background:url(../images/004_OlympusFamProposal/004_olympus_site_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .SubImgOlympusOne {
	width:960px;
	height:540px;
	background:url(../images/004_OlympusFamProposal/004_olympus_site_01.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .SubImgOlympusTwo {
	width:960px;
	height:1756px;
	background:url(../images/004_OlympusFamProposal/004_olympus_site_02.png) left top no-repeat;
	background-size:960px 1756px;
}

.sub .SubImgOlympusThree {
	width:960px;
	height:700px;
	background:url(../images/004_OlympusFamProposal/004_olympus_site_03.png) left top no-repeat;
	background-size:960px 700px;
}

.sub .SubImgOlympusFour {
	width:960px;
	height:1579px;
	background:url(../images/004_OlympusFamProposal/004_olympus_site_04.png) left top no-repeat;
	background-size:960px 1579px;
}

.sub .SubImgOlympusFive {
	width:960px;
	height:690px;
	background:url(../images/004_OlympusFamProposal/004_olympus_site_05.png) left top no-repeat;
	background-size:960px 690px;
}

.sub .SubImgOlympusSix {
	width:960px;
	height:630px;
	background:url(../images/004_OlympusFamProposal/004_olympus_site_06.png) left top no-repeat;
	background-size:960px 630px;
}




 /*project sub img - 005 Biotherm Promotion Proposal */
.sub .SubImgBiothermProProTitle {
	width:960px;
	height:540px;
	background:url(../images/005_BiotermProProposal/005_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .SubImgBiothermProProImg1 {
	width:960px;
	height:720px;
	background:url(../images/005_BiotermProProposal/005_00.jpg) left top no-repeat;
	background-size:960px 720px;
}

.sub .SubImgBiothermProProImg2 {
	width:960px;
	height:720px;
	background:url(../images/005_BiotermProProposal/005_01.jpg) left top no-repeat;
	background-size:960px 720px;
}

.sub .SubImgBiothermProProImg3 {
	width:960px;
	height:720px;
	background:url(../images/005_BiotermProProposal/005_02.jpg) left top no-repeat;
	background-size:960px 720px;
}

.sub .SubImgBiothermProProImg4 {
	width:960px;
	height:720px;
	background:url(../images/005_BiotermProProposal/005_03.jpg) left top no-repeat;
	background-size:960px 720px;
}

.sub .SubImgBiothermProProImg5 {
	width:960px;
	height:720px;
	background:url(../images/005_BiotermProProposal/005_04.jpg) left top no-repeat;
	background-size:960px 720px;
}

.sub .SubImgBiothermProProImg6 {
	width:960px;
	height:720px;
	background:url(../images/005_BiotermProProposal/005_05.png) left top no-repeat;
	background-size:960px 720px;
}

.sub .SubImgBiothermProProImg7 {
	width:960px;
	height:720px;
	background:url(../images/005_BiotermProProposal/005_06.jpg) left top no-repeat;
	background-size:960px 720px;
}

.sub .SubImgBiothermProProImg8 {
	width:960px;
	height:720px;
	background:url(../images/005_BiotermProProposal/005_07.jpg) left top no-repeat;
	background-size:960px 720px;
}


 /*project sub img - 019 Kyobobook KIOSK */
.sub .SubImgKyobobookKioskTitle {
	width:960px;
	height:540px;
	background:url(../images/019_KyobobookKiosk/019_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .SubImgKyobobookKioskImg1 {
	width:800px;
	height:1422px;
	background:url(../images/019_KyobobookKiosk/019_00.png) left top no-repeat;
	background-size:800px 1422px;
}

.sub .SubImgKyobobookKioskImg2 {
	width:800px;
	height:1422px;
	background:url(../images/019_KyobobookKiosk/019_01.png) left top no-repeat;
	background-size:800px 1422px;
}

.sub .SubImgKyobobookKioskImg3 {
	width:800px;
	height:1422px;
	background:url(../images/019_KyobobookKiosk/019_02.png) left top no-repeat;
	background-size:800px 1422px;
}



/*project sub img - 020 2013 x-mas*/

.sub .sub_img_2013xmas_title {
	width:960px;
	height:540px;
	background:url(../images/020_2013XmasCard/020_2013chrismascard_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_2013xmasOne {
	width:960px;
	height:640px;
	background:url(../images/020_2013XmasCard/020_2013chrismascard_00.png) left top no-repeat;
	background-size:960px 640px;
}

.sub .sub_img_2013xmasTwo {
	width:960px;
	height:640px;
	background:url(../images/020_2013XmasCard/020_2013chrismascard_01.png) left top no-repeat;
	background-size:960px 640px;
}


/*project sub img - 021 Illustration for Restroom*/

.sub .sub_img_illustrestroom_title {
	width:960px;
	height:540px;
	background:url(../images/021_IllustRestroom/021_illust_for_restroom_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_illustrestroom_one {
	width:700px;
	height:700px;
	background:url(../images/021_IllustRestroom/021_illust_for_restroom_00.png) left top no-repeat;
	background-size:700px 700px;
}

.sub .sub_img_illustrestroom_two {
	width:700px;
	height:800px;
	background:url(../images/021_IllustRestroom/021_illust_for_restroom_01.png) left top no-repeat;
	background-size:700px 780px;
}

.sub .sub_img_illustrestroom_three {
	width:700px;
	height:904px;
	background:url(../images/021_IllustRestroom/021_illust_for_restroom_02.png) left top no-repeat;
	background-size:700px 904px;
	margin-left:auto;
	margin-right:auto;
}


/*project sub img - 022 Green Cross Life Line Site*/

.sub .sub_img_LifeLineTitle {
	width:960px;
	height:540px;
	background:url(../images/022_GreenCrossLifeLine/022_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_LifeLineOne {
	width:960px;
	height:1903px;
	background:url(../images/022_GreenCrossLifeLine/022_01.png) left top no-repeat;
	background-size:960px 1903px;
}

.sub .sub_img_LifeLineTwo{
	width:960px;
	height:1903px;
	background:url(../images/022_GreenCrossLifeLine/022_02.png) left top no-repeat;
	background-size:960px 1903px;
}

.sub .sub_img_LifeLineThree {
	width:960px;
	height:1270px;
	background:url(../images/022_GreenCrossLifeLine/022_03.png) left top no-repeat;
	background-size:960px 1270px;
}




/*project sub img - 023 DM Bio*/

.sub .sub_img_dmbioTitle {
	width:960px;
	height:540px;
	background:url(../images/023_dongaholdings/023_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_dmbioOne {
	width:960px;
	height:1528px;
	background:url(../images/023_dongaholdings/023_01.png) left top no-repeat;
	background-size:960px 1528px;
}




/*project sub img - 024 samsung wems*/

.sub .sub_img_wemsTitle {
	width:960px;
	height:540px;
	background:url(../images/024_SamsungWEMS/024_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_wemsOne {
	width:960px;
	height:768px;
	background:url(../images/024_SamsungWEMS/024_01.png) left top no-repeat;
	background-size:960px 768px;
}

.sub .sub_img_wemsTwo {
	width:960px;
	height:768px;
	background:url(../images/024_SamsungWEMS/024_02.png) left top no-repeat;
	background-size:960px 768px;
}

.sub .sub_img_wemsThree {
	width:960px;
	height:768px;
	background:url(../images/024_SamsungWEMS/024_03.png) left top no-repeat;
	background-size:960px 768px;
}

.sub .sub_img_wemsFour {
	width:960px;
	height:768px;
	background:url(../images/024_SamsungWEMS/024_04.png) left top no-repeat;
	background-size:960px 768px;
}

.sub .sub_img_wemsFive {
	width:960px;
	height:960px;
	background:url(../images/024_SamsungWEMS/024_05.png) left top no-repeat;
	background-size:960px 960px;
}

.sub .sub_img_wemsSix {
	width:960px;
	height:480px;
	background:url(../images/024_SamsungWEMS/024_06.png) left top no-repeat;
	background-size:960px 480px;
}

.sub .sub_img_wemsSeven{
	width:960px;
	height:785px;
	background:url(../images/024_SamsungWEMS/024_07.png) left top no-repeat;
	background-size:960px 785px;
}




/*project sub img - 026 LBH*/

.sub .sub_img_lbhTitle {
	width:960px;
	height:540px;
	background:url(../images/026_LBH/026_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_lbhOne {
	width:960px;
	height:686px;
	background:url(../images/026_LBH/026_01.png) left top no-repeat;
	background-size:960px 686px;
}

.sub .sub_img_lbhTwo {
	width:960px;
	height:686px;
	background:url(../images/026_LBH/026_02.png) left top no-repeat;
	background-size:960px 686px;
}

.sub .sub_img_lbhThree {
	width:960px;
	height:686px;
	background:url(../images/026_LBH/026_03.png) left top no-repeat;
	background-size:960px 686px;
}

.sub .sub_img_lbhFour {
	width:960px;
	height:686px;
	background:url(../images/026_LBH/026_04.png) left top no-repeat;
	background-size:960px 686px;
}

.sub .sub_img_lbhFive {
	width:960px;
	height:686px;
	background:url(../images/026_LBH/026_05.png) left top no-repeat;
	background-size:960px 686px;
}

.sub .sub_img_lbhSix {
	width:960px;
	height:686px;
	background:url(../images/026_LBH/026_06.png) left top no-repeat;
	background-size:960px 686px;
}



/*project sub img - 027 Sulhwasoo*/

.sub .sub_img_sulhwasooTitle {
	width:960px;
	height:540px;
	background:url(../images/027_sulhwasoo/027_title.png) left top no-repeat;
	background-size:960px 540px;
}

.sub .sub_img_sulhwasooOne {
	width:960px;
	height:686px;
	background:url(../images/027_sulhwasoo/027_01.png) left top no-repeat;
	background-size:960px 686px;
}

.sub .sub_img_sulhwasooTwo {
	width:960px;
	height:686px;
	background:url(../images/027_sulhwasoo/027_02.png) left top no-repeat;
	background-size:960px 686px;
}

.sub .sub_img_sulhwasooThree {
	width:960px;
	height:686px;
	background:url(../images/027_sulhwasoo/027_03.png) left top no-repeat;
	background-size:960px 686px;
}

.sub .sub_img_sulhwasooFour {
	width:960px;
	height:686px;
	background:url(../images/027_sulhwasoo/027_04.png) left top no-repeat;
	background-size:960px 686px;
}

.sub .sub_img_sulhwasooFive {
	width:960px;
	height:632px;
	background:url(../images/027_sulhwasoo/027_05.png) left top no-repeat;
	background-size:960px 632px;
}

.sub .sub_img_sulhwasooSix {
	width:960px;
	height:583px;
	background:url(../images/027_sulhwasoo/027_06.png) left top no-repeat;
	background-size:960px 583px;
}

.sub .sub_img_sulhwasooSeven {
	width:960px;
	height:583px;
	background:url(../images/027_sulhwasoo/027_07.png) left top no-repeat;
	background-size:960px 583px;
}

.sub .sub_img_sulhwasooEight {
	width:960px;
	height:583px;
	background:url(../images/027_sulhwasoo/027_08.png) left top no-repeat;
	background-size:960px 583px;
}

.sub .sub_img_sulhwasooNine {
	width:960px;
	height:583px;
	background:url(../images/027_sulhwasoo/027_09.png) left top no-repeat;
	background-size:960px 583px;
}

.sub .sub_img_sulhwasooTen {
	width:960px;
	height:576px;
	background:url(../images/027_sulhwasoo/027_10.png) left top no-repeat;
	background-size:960px 576px;
}




@media (min-width:1px) and (max-width:639px){
	
	/*project sub img - 000 Pulip Rebranding*/
	.sub .sub_img_pulip_title {
		width:320px;
		height:180px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_title.png) left top no-repeat;
		background-size:320px 180px;
	}
	
	.sub .sub_img_pulip_one {
		width:320px;
		height:213px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_1.png) left top no-repeat;
		background-size:320px 213px;
	}
	
	.sub .sub_img_pulip_two {
		width:320px;
		height:53px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_2.png) left top no-repeat;
		background-size:320px 43px;
	}
	
	.sub .sub_img_pulip_three {
		width:320px;
		height:180px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_3.png) left top no-repeat;
		background-size:320px 180px;
	}
	
	.sub .sub_img_pulip_four {
		width:320px;
		height:213px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_4.png) left top no-repeat;
		background-size:320px 213px;
	}
	
	.sub .sub_img_pulip_five {
		width:320px;
		height:213px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_5.png) left top no-repeat;
		background-size:320px 213px;
		z-index:4;
	}
	
	.sub .sub_img_pulip_six {
		width:320px;
		height:213px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_6.png) left top no-repeat;
		background-size:320px 213px;
	}
	
	.sub .sub_img_pulip_seven {
		width:320px;
		height:213px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_7.png) left top no-repeat;
		background-size:320px 213px;
	}
	
	.sub .sub_img_pulip_eight {
		width:320px;
		height:213px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_8.png) left top no-repeat;
		background-size:320px 213px;
	}
	
	.sub .sub_img_pulip_nine {
		width:320px;
		height:213px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_9.png) left top no-repeat;
		background-size:320px 213px;
	}
	
	.sub .sub_img_pulip_ten {
		width:320px;
		height:213px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_10.png) left top no-repeat;
		background-size:320px 213px;
	}
	
	.sub .sub_movie_pulip_small {
		width:320px;
		height:180px;
		display:block;
	}
	
	.sub .sub_movie_pulip_big {
		display:none;
	}
	
	.sub .sub_movie_pulip_medium {
		display:none;
	}
	
	/*project sub img - 001 mvio*/
	.sub .sub_img_mvio_title {
		width:320px;
		height:180px;
		background:url(../images/001_MVIOProposal/001_mvio_site_title.png) left top no-repeat;
		background-size:320px 180px;
	}
	
	.sub .sub_img_mvio_one {
		width:320px;
		height:457px;
		background:url(../images/001_MVIOProposal/001_mvio_site_01.png) left top no-repeat;
		background-size:320px 457px;
	}
	
	.sub .sub_img_mvio_two {
		width:320px;
		height:104px;
		background:url(../images/001_MVIOProposal/001_mvio_site_02.png) left top no-repeat;
		background-size:320px 104px;
	}
	
	.sub .sub_img_mvio_three {
		width:320px;
		height:293px;
		background:url(../images/001_MVIOProposal/001_mvio_site_03.png) left top no-repeat;
		background-size:320px 293px;
	}
	
	.sub .sub_img_mvio_four {
		width:320px;
		height:297px;
		background:url(../images/001_MVIOProposal/001_mvio_site_04.png) left top no-repeat;
		background-size:320px 297px;
	}
	
	
	
	
		/*project sub img - 002 3l gore-tex */
	.sub .SubImgTLGoreTexTitle {
		width:320px;
		height:180px;
		background:url(../images/002_Goretex3LMovie/001_goretex_3l_movie_title.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgTLGoreTexOne {
		width:320px;
		height:180px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_00.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgTLGoreTexTwo {
		width:320px;
		height:180px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_01.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgTLGoreTexThree {
		width:320px;
		height:180px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_02.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgTLGoreTexFour {
		width:320px;
		height:180px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_03.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgTLGoreTexFive {
		width:320px;
		height:180px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_04.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgTLGoreTexSix {
		width:320px;
		height:180px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_05.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgTLGoreTexSeven {
		width:320px;
		height:180px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_06.png) left top no-repeat;
		background-size:320px 180px;
	}
	
	
	
	
	
	
	
	/*project sub img - 004 olympus*/
	
	.sub .SubImgOlympusTitle {
		width:320px;
		height:180px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_title.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgOlympusOne {
		width:320px;
		height:180px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_01.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgOlympusTwo {
		width:320px;
		height:585px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_02.png) left top no-repeat;
		background-size:320px 585px;
	}

	.sub .SubImgOlympusThree {
		width:320px;
		height:233px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_03.png) left top no-repeat;
		background-size:320px 233px;
	}

	.sub .SubImgOlympusFour {
		width:320px;
		height:526px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_04.png) left top no-repeat;
		background-size:320px 526px;
	}

	.sub .SubImgOlympusFive {
		width:320px;
		height:230px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_05.png) left top no-repeat;
		background-size:320px 230px;
	}

	.sub .SubImgOlympusSix {
		width:320px;
		height:210px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_06.png) left top no-repeat;
		background-size:320px 210px;
	}
	
	
	 /*project sub img - 005 Biotherm Promotion Proposal */
	.sub .SubImgBiothermProProTitle {
		width:320px;
		height:180px;
		background:url(../images/005_BiotermProProposal/005_title.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .SubImgBiothermProProImg1 {
		width:320px;
		height:240px;
		background:url(../images/005_BiotermProProposal/005_00.jpg) left top no-repeat;
		background-size:320px 240px;
	}

	.sub .SubImgBiothermProProImg2 {
		width:320px;
		height:240px;
		background:url(../images/005_BiotermProProposal/005_01.jpg) left top no-repeat;
		background-size:320px 240px;
	}

	.sub .SubImgBiothermProProImg3 {
		width:320px;
		height:240px;
		background:url(../images/005_BiotermProProposal/005_02.jpg) left top no-repeat;
		background-size:320px 240px;
	}

	.sub .SubImgBiothermProProImg4 {
		width:320px;
		height:240px;
		background:url(../images/005_BiotermProProposal/005_03.jpg) left top no-repeat;
		background-size:320px 240px;
	}

	.sub .SubImgBiothermProProImg5 {
		width:320px;
		height:240px;
		background:url(../images/005_BiotermProProposal/005_04.jpg) left top no-repeat;
		background-size:320px 240px;
	}

	.sub .SubImgBiothermProProImg6 {
		width:320px;
		height:240px;
		background:url(../images/005_BiotermProProposal/005_05.png) left top no-repeat;
		background-size:320px 240px;
	}

	.sub .SubImgBiothermProProImg7 {
		width:320px;
		height:240px;
		background:url(../images/005_BiotermProProposal/005_06.jpg) left top no-repeat;
		background-size:320px 240px;
	}

	.sub .SubImgBiothermProProImg8 {
		width:320px;
		height:240px;
		background:url(../images/005_BiotermProProposal/005_07.jpg) left top no-repeat;
		background-size:320px 240px;
	}
		
	
	
	 /*project sub img - 019 Kyobobook KIOSK */
	.sub .SubImgKyobobookKioskTitle {
		width:320px;
		height:180px;
		background:url(../images/019_KyobobookKiosk/019_title.png) left top no-repeat;
		background-size:320px 180px;
	}
	
	.sub .SubImgKyobobookKioskImg1 {
		width:320px;
		height:569px;
		background:url(../images/019_KyobobookKiosk/019_00.png) left top no-repeat;
		background-size:320px 569px;
}

	.sub .SubImgKyobobookKioskImg2 {
		width:320px;
		height:569px;
		background:url(../images/019_KyobobookKiosk/019_01.png) left top no-repeat;
		background-size:320px 569px;
}

	.sub .SubImgKyobobookKioskImg3 {
		width:320px;
		height:569px;
		background:url(../images/019_KyobobookKiosk/019_02.png) left top no-repeat;
		background-size:320px 569px;
	}
	
	
	
	
	/*project sub img - 020 2013 x-mas*/

	.sub .sub_img_2013xmas_title {
		width:320px;
		height:180px;
		background:url(../images/020_2013XmasCard/020_2013chrismascard_title.png) left top no-repeat;
		background-size:320px 180px;
	}
	
	.sub .sub_img_2013xmasOne {
		width:320px;
		height:213px;
		background:url(../images/020_2013XmasCard/020_2013chrismascard_00.png) left top no-repeat;
		background-size:320px 213px;
	}
	
	.sub .sub_img_2013xmasTwo {
		width:320px;
		height:213px;
		background:url(../images/020_2013XmasCard/020_2013chrismascard_01.png) left top no-repeat;
		background-size:320px 213px;
	}
	
	/*project sub img - 021 Illustration for Restroom*/

	.sub .sub_img_illustrestroom_title {
		width:320px;
		height:180px;
		background:url(../images/021_IllustRestroom/021_illust_for_restroom_title.png) left top no-repeat;
		background-size:320px 180px;
	}
	
	.sub .sub_img_illustrestroom_one {
		width:300px;
		height:300px;
		background:url(../images/021_IllustRestroom/021_illust_for_restroom_00.png) left top no-repeat;
		background-size:300px 300px;
	}

	.sub .sub_img_illustrestroom_two {
		width:300px;
		height:343px;
		background:url(../images/021_IllustRestroom/021_illust_for_restroom_01.png) left top no-repeat;
		background-size:300px 343px;
	}

	.sub .sub_img_illustrestroom_three {
		width:320px;
		height:413px;
		background:url(../images/021_IllustRestroom/021_illust_for_restroom_02.png) left top no-repeat;
		background-size:320px 413px;
	}
	
	
	
	
	/*project sub img - 022 Green Cross Life Line Site*/

	.sub .sub_img_LifeLineTitle {
		width:320px;
		height:180px;
		background:url(../images/022_GreenCrossLifeLine/022_title.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .sub_img_LifeLineOne {
		width:320px;
		height:634px;
		background:url(../images/022_GreenCrossLifeLine/022_01.png) left top no-repeat;
		background-size:320px 634px;
	}

	.sub .sub_img_LifeLineTwo{
		width:320px;
		height:634px;
		background:url(../images/022_GreenCrossLifeLine/022_02.png) left top no-repeat;
		background-size:320px 634px;
	}

	.sub .sub_img_LifeLineThree {
		width:320px;
		height:423px;
		background:url(../images/022_GreenCrossLifeLine/022_03.png) left top no-repeat;
		background-size:320px 423px;
	}
	
	
	
		/*project sub img - 023 DM Bio*/

	.sub .sub_img_dmbioTitle {
		width:320px;
		height:180px;
		background:url(../images/023_dongaholdings/023_title.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .sub_img_dmbioOne {
		width:320px;
		height:509px;
		background:url(../images/023_dongaholdings/023_01.png) left top no-repeat;
		background-size:320px 509px;
	}
	
	
	
		/*project sub img - 024 samsung wems*/

	.sub .sub_img_wemsTitle {
		width:320px;
		height:180px;
		background:url(../images/024_SamsungWEMS/024_title.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .sub_img_wemsOne {
		width:320px;
		height:256px;
		background:url(../images/024_SamsungWEMS/024_01.png) left top no-repeat;
		background-size:320px 256px;
	}

	.sub .sub_img_wemsTwo{
		width:320px;
		height:256px;
		background:url(../images/024_SamsungWEMS/024_02.png) left top no-repeat;
		background-size:320px 256px
	}

	.sub .sub_img_wemsThree {
		width:320px;
		height:256px;
		background:url(../images/024_SamsungWEMS/024_03.png) left top no-repeat;
		background-size:320px 256px
	}

	.sub .sub_img_wemsFour {
		width:320px;
		height:256px;
		background:url(../images/024_SamsungWEMS/024_04.png) left top no-repeat;
		background-size:320px 256px;
	}

	.sub .sub_img_wemsFive {
		width:320px;
		height:320px;
		background:url(../images/024_SamsungWEMS/024_05.png) left top no-repeat;
		background-size:320px 320px;
	}

	.sub .sub_img_wemsSix {
		width:320px;
		height:160px;
		background:url(../images/024_SamsungWEMS/024_06.png) left top no-repeat;
		background-size:320px 160px;
	}

	.sub .sub_img_wemsSeven{
		width:320px;
		height:262px;
		background:url(../images/024_SamsungWEMS/024_07.png) left top no-repeat;
		background-size:320px 262px;
	}
	
	
	
	
		/*project sub img - 026 LBH*/

	.sub .sub_img_lbhTitle {
		width:320px;
		height:180px;
		background:url(../images/026_LBH/026_title.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .sub_img_lbhOne {
		width:320px;
		height:229px;
		background:url(../images/026_LBH/026_01.png) left top no-repeat;
		background-size:320px 229px;
	}

	.sub .sub_img_lbhTwo {
		width:320px;
		height:229px;
		background:url(../images/026_LBH/026_02.png) left top no-repeat;
		background-size:320px 229px;
	}

	.sub .sub_img_lbhThree {
		width:320px;
		height:229px;
		background:url(../images/026_LBH/026_03.png) left top no-repeat;
		background-size:320px 229px;
	}

	.sub .sub_img_lbhFour {
		width:320px;
		height:229px;
		background:url(../images/026_LBH/026_04.png) left top no-repeat;
		background-size:320px 229px;
	}

	.sub .sub_img_lbhFive {
		width:320px;
		height:229px;
		background:url(../images/026_LBH/026_05.png) left top no-repeat;
		background-size:320px 229px;
	}

	.sub .sub_img_lbhSix {
		width:320px;
		height:229px;
		background:url(../images/026_LBH/026_06.png) left top no-repeat;
		background-size:320px 229px;
	}
	
	
	/*project sub img - 027 Sulhwasoo*/

	.sub .sub_img_sulhwasooTitle {
		width:320px;
		height:180px;
		background:url(../images/027_sulhwasoo/027_title.png) left top no-repeat;
		background-size:320px 180px;
	}

	.sub .sub_img_sulhwasooOne {
		width:320px;
		height:229px;
		background:url(../images/027_sulhwasoo/027_01.png) left top no-repeat;
		background-size:320px 229px;
	}

	.sub .sub_img_sulhwasooTwo {
		width:320px;
		height:229px;
		background:url(../images/027_sulhwasoo/027_02.png) left top no-repeat;
		background-size:320px 229px;
	}

	.sub .sub_img_sulhwasooThree {
		width:320px;
		height:229px;
		background:url(../images/027_sulhwasoo/027_03.png) left top no-repeat;
		background-size:320px 229px;
	}
	
	
	.sub .sub_img_sulhwasooFour {
		width:320px;
		height:229px;
		background:url(../images/027_sulhwasoo/027_04.png) left top no-repeat;
		background-size:320px 229px;
	}

	.sub .sub_img_sulhwasooFive {
		width:320px;
		height:211px;
		background:url(../images/027_sulhwasoo/027_05.png) left top no-repeat;
		background-size:320px 211px;
	}

	.sub .sub_img_sulhwasooSix {
		width:320px;
		height:194px;
		background:url(../images/027_sulhwasoo/027_06.png) left top no-repeat;
		background-size:320px 194px;
	}

	.sub .sub_img_sulhwasooSeven {
		width:320px;
		height:194px;
		background:url(../images/027_sulhwasoo/027_07.png) left top no-repeat;
		background-size:320px 194px;
	}
	
	
	.sub .sub_img_sulhwasooEight {
		width:320px;
		height:194px;
		background:url(../images/027_sulhwasoo/027_08.png) left top no-repeat;
		background-size:320px 194px;
	}

	.sub .sub_img_sulhwasooNine {
		width:320px;
		height:194px;
		background:url(../images/027_sulhwasoo/027_09.png) left top no-repeat;
		background-size:320px 194px;
	}

	.sub .sub_img_sulhwasooTen {
		width:320px;
		height:192px;
		background:url(../images/027_sulhwasoo/027_10.png) left top no-repeat;
		background-size:320px 192px;
	}

	



}

@media (min-width:640px) and (max-width:974px){

	/*project sub img - 000 Pulip Rebranding*/
	.sub .sub_img_pulip_title {
		width:640px;
		height:360px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_title.png) left top no-repeat;
		background-size:640px 360px;
	}
	
	.sub .sub_img_pulip_one {
		width:640px;
		height:427px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_1.png) left top no-repeat;
		background-size:640px 427px;
	}
	
	.sub .sub_img_pulip_two {
		width:640px;
		height:107px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_2.png) left top no-repeat;
		background-size:640px 107px;
	}
	
	.sub .sub_img_pulip_three {
		width:640px;
		height:360px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_3.png) left top no-repeat;
		background-size:640px 360px;
	}
	
	.sub .sub_img_pulip_four {
		width:640px;
		height:427px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_4.png) left top no-repeat;
		background-size:640px 427px;
	}
	
	.sub .sub_img_pulip_five {
		width:640px;
		height:427px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_5.png) left top no-repeat;
		background-size:640px 427px;
	}
	
	.sub .sub_img_pulip_six {
		width:640px;
		height:427px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_6.png) left top no-repeat;
		background-size:640px 427px;
		margin-left:auto;
		margin-right:auto;
		z-index:4;
	}
	
	.sub .sub_img_pulip_seven {
		width:640px;
		height:427px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_7.png) left top no-repeat;
		background-size:640px 427px;
	}
	
	.sub .sub_img_pulip_eight {
		width:640px;
		height:427px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_8.png) left top no-repeat;
		background-size:640px 427px;
	}
	
	.sub .sub_img_pulip_nine {
		width:640px;
		height:427px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_9.png) left top no-repeat;
		background-size:640px 427px;
	}
	
	.sub .sub_img_pulip_ten {
		width:640px;
		height:427px;
		background:url(../images/000_PulipRebranding/000_pulip_rebranding_10.png) left top no-repeat;
		background-size:640px 427px;
	}
	
	.sub .sub_movie_pulip_medium {
		width:640px;
		height:360px;
		display:block;
	}
	
	.sub .sub_movie_pulip_big {
		display:none;
	}
	
	.sub .sub_movie_pulip_small {
		display:none;
	}
	
	/*project sub img - 001 mvio*/
	.sub .sub_img_mvio_title {
		width:640px;
		height:390px;
		background:url(../images/001_MVIOProposal/001_mvio_site_title.png) left bottom no-repeat;
		background-size:640px 360px;
	}
	
	.sub .sub_img_mvio_one {
		width:640px;
		height:915px;
		background:url(../images/001_MVIOProposal/001_mvio_site_01.png) left top no-repeat;
		background-size:640px 915px;
	}
	
	.sub .sub_img_mvio_two {
		width:640px;
		height:208px;
		background:url(../images/001_MVIOProposal/001_mvio_site_02.png) left top no-repeat;
		background-size:640px 208px;
	}
	
	.sub .sub_img_mvio_three {
		width:640px;
		height:586px;
		background:url(../images/001_MVIOProposal/001_mvio_site_03.png) left top no-repeat;
		background-size:640px 586px;
	}
	
	.sub .sub_img_mvio_four {
		width:640px;
		height:593px;
		background:url(../images/001_MVIOProposal/001_mvio_site_04.png) left top no-repeat;
		background-size:640px 593px;
	}
	
	
	
	/*project sub img - 002 3l gore-tex */
	.sub .SubImgTLGoreTexTitle {
		width:640px;
		height:360px;
		background:url(../images/002_Goretex3LMovie/001_goretex_3l_movie_title.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgTLGoreTexOne {
		width:640px;
		height:360px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_00.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgTLGoreTexTwo {
		width:640px;
		height:360px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_01.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgTLGoreTexThree {
		width:640px;
		height:360px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_02.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgTLGoreTexFour {
		width:640px;
		height:360px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_03.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgTLGoreTexFive {
		width:640px;
		height:360px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_04.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgTLGoreTexSix {
		width:640px;
		height:360px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_05.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgTLGoreTexSeven {
		width:640px;
		height:360px;
		background:url(../images/002_Goretex3LMovie/003_goretex_3l_movie_06.png) left top no-repeat;
		background-size:640px 360px;
	}
	
	
	
	
	/*project sub img - 004 olympus*/
	
	.sub .SubImgOlympusTitle {
		width:640px;
		height:390px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_title.png) left bottom no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgOlympusOne {
		width:640px;
		height:360px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_01.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgOlympusTwo {
		width:640px;
		height:1171px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_02.png) left top no-repeat;
		background-size:640px 1171px;
	}

	.sub .SubImgOlympusThree {
		width:640px;
		height:467px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_03.png) left top no-repeat;
		background-size:640px 467px;
	}

	.sub .SubImgOlympusFour {
		width:640px;
		height:1053px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_04.png) left top no-repeat;
		background-size:640px 1053px;
	}

	.sub .SubImgOlympusFive {
		width:640px;
		height:460px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_05.png) left top no-repeat;
		background-size:640px 460px;
	}

	.sub .SubImgOlympusSix {
		width:640px;
		height:420px;
		background:url(../images/004_OlympusFamProposal/004_olympus_site_06.png) left top no-repeat;
		background-size:640px 420px;
	}
	
	
	
		 /*project sub img - 005 Biotherm Promotion Proposal */
	.sub .SubImgBiothermProProTitle {
		width:640px;
		height:360px;
		background:url(../images/005_BiotermProProposal/005_title.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .SubImgBiothermProProImg1 {
		width:640px;
		height:480px;
		background:url(../images/005_BiotermProProposal/005_00.jpg) left top no-repeat;
		background-size:640px 480px;
	}

	.sub .SubImgBiothermProProImg2 {
		width:640px;
		height:480px;
		background:url(../images/005_BiotermProProposal/005_01.jpg) left top no-repeat;
		background-size:640px 480px;
	}

	.sub .SubImgBiothermProProImg3 {
		width:640px;
		height:480px;
		background:url(../images/005_BiotermProProposal/005_02.jpg) left top no-repeat;
		background-size:640px 480px;
	}

	.sub .SubImgBiothermProProImg4 {
		width:640px;
		height:480px;
		background:url(../images/005_BiotermProProposal/005_03.jpg) left top no-repeat;
		background-size:640px 480px;
	}

	.sub .SubImgBiothermProProImg5 {
		width:640px;
		height:480px;
		background:url(../images/005_BiotermProProposal/005_04.jpg) left top no-repeat;
		background-size:640px 480px;
	}

	.sub .SubImgBiothermProProImg6 {
		width:640px;
		height:480px;
		background:url(../images/005_BiotermProProposal/005_05.png) left top no-repeat;
		background-size:640px 480px;
	}

	.sub .SubImgBiothermProProImg7 {
		width:640px;
		height:480px;
		background:url(../images/005_BiotermProProposal/005_06.jpg) left top no-repeat;
		background-size:640px 480px;
	}

	.sub .SubImgBiothermProProImg8 {
		width:640px;
		height:480px;
		background:url(../images/005_BiotermProProposal/005_07.jpg) left top no-repeat;
		background-size:640px 480px;
	}
		
	
		
	
	
	
	 /*project sub img - 019 Kyobobook KIOSK */
	.sub .SubImgKyobobookKioskTitle {
		width:640px;
		height:360px;
		background:url(../images/019_KyobobookKiosk/019_title.png) left top no-repeat;
		background-size:640px 360px;
	}
	
		.sub .SubImgKyobobookKioskImg1 {
		width:640px;
		height:1138px;
		background:url(../images/019_KyobobookKiosk/019_00.png) left top no-repeat;
		background-size:640px 1138px;
}

	.sub .SubImgKyobobookKioskImg2 {
		width:640px;
		height:1138px;
		background:url(../images/019_KyobobookKiosk/019_01.png) left top no-repeat;
		background-size:640px 1138px;
}

	.sub .SubImgKyobobookKioskImg3 {
		width:640px;
		height:1138px;
		background:url(../images/019_KyobobookKiosk/019_02.png) left top no-repeat;
		background-size:640px 1138px;
	}



	
	/*project sub img - 020 2013 x-mas*/

	.sub .sub_img_2013xmas_title {
		width:640px;
		height:360px;
		background:url(../images/020_2013XmasCard/020_2013chrismascard_title.png) left top no-repeat;
		background-size:640px 360px;
	}
	
	.sub .sub_img_2013xmasOne {
		width:640px;
		height:427px;
		background:url(../images/020_2013XmasCard/020_2013chrismascard_00.png) left top no-repeat;
		background-size:640px 427px;
	}
	
	.sub .sub_img_2013xmasTwo {
		width:640px;
		height:427px;
		background:url(../images/020_2013XmasCard/020_2013chrismascard_01.png) left top no-repeat;
		background-size:640px 427px;
	}
	
	/*project sub img - 021 Illustration for Restroom*/

	.sub .sub_img_illustrestroom_title {
		width:640px;
		height:360px;
		background:url(../images/021_IllustRestroom/021_illust_for_restroom_title.png) left top no-repeat;
		background-size:640px 360px;
	}
	
	.sub .sub_img_illustrestroom_one {
		width:600px;
		height:600px;
		background:url(../images/021_IllustRestroom/021_illust_for_restroom_00.png) left top no-repeat;
		background-size:600px 600px;
		
		margin-left:auto;
		margin-right:auto;
	}

	.sub .sub_img_illustrestroom_two {
		width:600px;
		height:686px;
		background:url(../images/021_IllustRestroom/021_illust_for_restroom_01.png) left top no-repeat;
		background-size:600px 686px;
		margin-left:auto;
		margin-right:auto;
	}

	.sub .sub_img_illustrestroom_three {
		width:640px;
		height:827px;
		background:url(../images/021_IllustRestroom/021_illust_for_restroom_02.png) left top no-repeat;
		background-size:640px 827px;
	}
	
	
		/*project sub img - 022 Green Cross Life Line Site*/

	.sub .sub_img_LifeLineTitle {
		width:6400px;
		height:360px;
		background:url(../images/022_GreenCrossLifeLine/022_title.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .sub_img_LifeLineOne {
		width:640px;
		height:1268px;
		background:url(../images/022_GreenCrossLifeLine/022_01.png) left top no-repeat;
		background-size:640px 1268px;
	}

	.sub .sub_img_LifeLineTwo{
		width:640px;
		height:1268px;
		background:url(../images/022_GreenCrossLifeLine/022_02.png) left top no-repeat;
		background-size:640px 1268px;
	}

	.sub .sub_img_LifeLineThree {
		width:640px;
		height:846px;
		background:url(../images/022_GreenCrossLifeLine/022_03.png) left top no-repeat;
		background-size:640px 846px;
	}
	
	
	
	/*project sub img - 023 DM Bio*/

	.sub .sub_img_dmbioTitle {
		width:640px;
		height:360px;
		background:url(../images/023_dongaholdings/023_title.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .sub_img_dmbioOne {
		width:640px;
		height:1019px;
		background:url(../images/023_dongaholdings/023_01.png) left top no-repeat;
		background-size:960px 1019px;
	}
	
	
	
	
	/*project sub img - 024 samsung wems*/

	.sub .sub_img_wemsTitle {
		width:640px;
		height:360px;
		background:url(../images/024_SamsungWEMS/024_title.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .sub_img_wemsOne {
		width:640px;
		height:512px;
		background:url(../images/024_SamsungWEMS/024_01.png) left top no-repeat;
		background-size:640px 512px;
	}

	.sub .sub_img_wemsTwo {
		width:640px;
		height:512px;
		background:url(../images/024_SamsungWEMS/024_02.png) left top no-repeat;
		background-size:640px 512px;
	}

	.sub .sub_img_wemsThree {
		width:640px;
		height:512px;
		background:url(../images/024_SamsungWEMS/024_03.png) left top no-repeat;
		background-size:640px 512px;
	}

	.sub .sub_img_wemsFour {
		width:640px;
		height:512px;
		background:url(../images/024_SamsungWEMS/024_04.png) left top no-repeat;
		background-size:640px 512px;
	}

	.sub .sub_img_wemsFive {
		width:640px;
		height:640px;
		background:url(../images/024_SamsungWEMS/024_05.png) left top no-repeat;
		background-size:640px 640px;
	}

	.sub .sub_img_wemsSix {
		width:640px;
		height:320px;
		background:url(../images/024_SamsungWEMS/024_06.png) left top no-repeat;
		background-size:640px 320px;
	}

	.sub .sub_img_wemsSeven{
		width:640px;
		height:523px;
		background:url(../images/024_SamsungWEMS/024_07.png) left top no-repeat;
		background-size:640px 523px;
	}
	
	
	/*project sub img - 026 LBH*/

	.sub .sub_img_lbhTitle {
		width:640px;
		height:360px;
		background:url(../images/026_LBH/026_title.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .sub_img_lbhOne {
		width:640px;
		height:457px;
		background:url(../images/026_LBH/026_01.png) left top no-repeat;
		background-size:640px 457px;
	}

	.sub .sub_img_lbhTwo {
		width:640px;
		height:457px;
		background:url(../images/026_LBH/026_02.png) left top no-repeat;
		background-size:640px 457px;
	}

	.sub .sub_img_lbhThree {
		width:640px;
		height:457px;
		background:url(../images/026_LBH/026_03.png) left top no-repeat;
		background-size:640px 457px;
	}

	.sub .sub_img_lbhFour {
		width:640px;
		height:457px;
		background:url(../images/026_LBH/026_04.png) left top no-repeat;
		background-size:640px 457px;
	}

	.sub .sub_img_lbhFive {
		width:640px;
		height:457px;
		background:url(../images/026_LBH/026_05.png) left top no-repeat;
		background-size:640px 457px;
	}

	.sub .sub_img_lbhSix {
		width:640px;
		height:457px;
		background:url(../images/026_LBH/026_06.png) left top no-repeat;
		background-size:640px 457px;
	}





	/*project sub img - 027 Sulhwasoo*/

	.sub .sub_img_sulhwasooTitle {
		width:640px;
		height:360px;
		background:url(../images/027_sulhwasoo/027_title.png) left top no-repeat;
		background-size:640px 360px;
	}

	.sub .sub_img_sulhwasooOne {
		width:640px;
		height:457px;
		background:url(../images/027_sulhwasoo/027_01.png) left top no-repeat;
		background-size:640px 457px;
	}

	.sub .sub_img_sulhwasooTwo {
		width:640px;
		height:457px;
		background:url(../images/027_sulhwasoo/027_02.png) left top no-repeat;
		background-size:640px 457px;
	}

	.sub .sub_img_sulhwasooThree {
		width:640px;
		height:457px;
		background:url(../images/027_sulhwasoo/027_03.png) left top no-repeat;
		background-size:640px 457px;
	}
	
	
	.sub .sub_img_sulhwasooFour {
		width:640px;
		height:457px;
		background:url(../images/027_sulhwasoo/027_04.png) left top no-repeat;
		background-size:640px 457px;
	}

	.sub .sub_img_sulhwasooFive {
		width:640px;
		height:421px;
		background:url(../images/027_sulhwasoo/027_05.png) left top no-repeat;
		background-size:640px 421px;
	}

	.sub .sub_img_sulhwasooSix {
		width:640px;
		height:389px;
		background:url(../images/027_sulhwasoo/027_06.png) left top no-repeat;
		background-size:640px 389px;
	}

	.sub .sub_img_sulhwasooSeven {
		width:640px;
		height:389px;
		background:url(../images/027_sulhwasoo/027_07.png) left top no-repeat;
		background-size:640px 389px;
	}
	.sub .sub_img_sulhwasooEight {
		width:640px;
		height:389px;
		background:url(../images/027_sulhwasoo/027_08.png) left top no-repeat;
		background-size:640px 389px;
	}

	.sub .sub_img_sulhwasooNine {
		width:640px;
		height:389px;
		background:url(../images/027_sulhwasoo/027_09.png) left top no-repeat;
		background-size:640px 389px;
	}

	.sub .sub_img_sulhwasooTen {
		width:640px;
		height:384px;
		background:url(../images/027_sulhwasoo/027_10.png) left top no-repeat;
		background-size:640px 384px;
	}

	
	
}

