@charset "UTF-8";
/* CSS Document */

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


/*Basic style*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.Nexa-Black-Italic { 
	font-family: Nexa-Black-Italic;
	font-weight: normal;
	font-style: normal;
}
.Nexa-Bold-Italic { 
	font-family: Nexa-Bold-Italic;
	font-weight: normal;
	font-style: normal;
}
.Nexa-Bold { 
	font-family: Nexa-Bold;
	font-weight: normal;
	font-style: normal;
}
.Nexa-Book-Italic { 
	font-family: Nexa-Book-Italic;
	font-weight: normal;
	font-style: normal;
}
.Nexa-Book { 
	font-family: Nexa-Book;
	font-weight: normal;
	font-style: normal;
}
.Nexa-Heavy-Italic { 
	font-family: Nexa-Heavy-Italic;
	font-weight: normal;
	font-style: normal;
}
.Nexa-Light-Italic { 
	font-family: Nexa-Light-Italic;
	font-weight: normal;
	font-style: normal;
}
.Nexa-Regular-Italic { 
	font-family: Nexa-Regular-Italic;
	font-weight: normal;
	font-style: normal;
}
.Nexa-Light { 
	font-family: Nexa-Light;
	font-weight: normal;
	font-style: normal;
}
.Nexa-XBold-Italic { 
	font-family: Nexa-XBold-Italic;
	font-weight: normal;
	font-style: normal;
}
.NexaBlack { 
	font-family: NexaBlack;
	font-weight: normal;
	font-style: normal;
}
.NexaHeavy { 
	font-family: NexaHeavy;
	font-weight: normal;
	font-style: normal;
}
.Nexa-Thin-Italic { 
	font-family: Nexa-Thin-Italic;
	font-weight: normal;
	font-style: normal;
}
.NexaRegular { 
	font-family: NexaRegular;
	font-weight: normal;
	font-style: normal;
}
.Nexa-XBold { 
	font-family: Nexa-XBold;
	font-weight: normal;
	font-style: normal;
}
.NexaThin { 
	font-family: NexaThin;
	font-weight: normal;
	font-style: normal;
}



@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
  src:	url(../font/DroidSans.eot);
  src:	url(../font/DroidSans.eot?#iefix) format('embedded-opentype'),url(../font/DroidSans.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff');
  src:	url(../font/DroidSans-Bold.eot);
  src:	url(../font/DroidSans-Bold?#iefix) format('embedded-opentype'),url(../font/DroidSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family:'NG';
  font-style:normal;
  font-weight: 400;
  src:	url(../font/NanumGothic.eot);
  src:	url(../font/NanumGothic.eot?#iefix) format('embedded-opentype'),
url(../font/NanumGothic.woff) format('woff'),
url(../font/NNanumGothic.ttf) format('truetype');
}



body {
	font-family : 'Droid Sans', 'NG', sans-serif;
	font-size:12px;
	color:#666666;
	line-height:180%;
}

a:link {text-decoration:none; color:inherit;}
a:visited {text-decoration:none; color:inherit;}
a:active {text-decoration:none; color:inherit;}
a:hover {text-decoration:none; color:inherit;}

h1 {
	font-family:'Nexa-XBold', san-serif;
	font-size:28px;
	font-weight:700;
	line-height:32px;
	}

.black {color: #000000;}

.light_gray {color:#999999;}

.color {color:#ff3f19;}

.bold {font-weight:bold;}

.small_font {
	font-size:11px;
	line-height:16px;
}



.gnb {
	position:fixed;
	top:0px;
	width:100%;
	max-height:120px;
	background-color:#ffffff;
	vertical-align:middle;
	border-bottom:#eeeeee 1px solid;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	z-index:10;
}

.gnb_wrap {
	max-width:1280px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
	z-index:11;
}
.gnb_title_wrap{
	width:213px;
	z-index:12;
	float:left;
}
.gnb_title {
	width : 213px;
	height: 30px;
	background:url(../images/common_title.png) left top no-repeat;
	background-size:213px 30px;
	z-index:13;
}
.gnb_menu_wrap {
	width:500px;
	height:30px;
	vertical-align:middle;
	float:right;
	z-index:13;
}
.gnb_select_menu {
	width:25%;
	height:30px;
	font-family:'Nexa-XBold', san-serif;
	font-size:12px;
	float:left;
	text-align:center;
	color:#ff3f19;
	line-height:35px;
	z-index:14;
}
.gnb_non_menu {
	width:25%;
	height:30px;
	font-family:'Nexa-XBold', san-serif;
	float:left;
	font-size:12px;
	color:#333333;
	line-height:35px;
	z-index:14;
}

/*contents style*/

.dind {
	opacity:0.4;
	filter:alpha(opacity=40);
}

.wrap {
	width:100%;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	z-index:1;
}
	
.container_wrap {
	max-width:1280px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	z-index:2;
}
.project {
	width:300px;
	float:left;
	overflow: hidden;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	text-align:center;
	z-index:3;
}

.project .description {
	width:300px;
	height:60px;
	padding:10px 0px 0px 0px;
	margin-left:auto;
	margin-right:auto;
	z-index:4;
}


.project .title {
	font-family:'Nexa-XBold', san-serif;
	font-size:12px;
	letter-spacing:-1;
	color:#333333;
	line-height:18px;
	text-align:center;
}

.project .description .comment {
	font-family:'Droid Sans', 'NG', san-serif;
	font-size:12px;
	line-height:18px;
	text-align:left;
	margin-top:14px;
	display:none;
}

.project .description .more {
	font-family:'Droid Sans', 'NG', san-serif;
	font-size:10px;
	color:#ff3f19;
	text-align:right;
	margin-top:10px;
	display:none;
}



/*project_sub*/

.sub {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
	z-index:2;
}

.sub_wrap {
	width:100%;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	z-index:1;
}

.sub .sub_title {
	margin-bottom:18px;
	margin-left:120px;
	margin-right:120px;
}

.sub .sub_sub_title {
	font-family:'Droid Sans', 'NG', san-serif;
	font-size:16px;
	font-weight:400;
	line-height:140%;
	margin-bottom:8px;
	text-align:left;
}

.sub .sub_title_info {
	margin-bottom:30px;
	margin-left:120px;
	margin-right:120px;
}

.sub .sub_title_line {
	width:40px;
	height:4px;
	background-color:#000000;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}

.sub .contents_margin {
	margin-left:120px;
	margin-right:120px;
}

.sub .sub_contents {
	text-align:left;
	margin-bottom:30px;
}

.sub .sub_back {
	height:100px;
	line-height:100px;
	font-size:11px;
}

.sub .img_bottom_margin {
	margin-bottom:10px;
}
	




@media (min-width:1px) and (max-width:639px){
	h1 {
	font-family:'Nexa-XBold', san-serif;
	font-size:24px;
	font-weight:700;
	line-height:28px;
	}
	
	.wrap {
		margin-top:70px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	.gnb_wrap {
		width:320px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:11;
	}
	
	.gnb_title {
		width : 213px;
		height: 30px;
		background:url(../images/common_title.png) left top no-repeat;
		background-size:213px 30px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:13
		}
	
	.gnb_menu_wrap {
		width:320px;
		height:30px;
		vertical-align:middle;
	}
		
	.gnb_title_wrap {
		width:320px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:12;
	}
	
	.container_wrap {
		max-width:320px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:2;
	}
	
	.project {
		width:300px;
		float:left;
		overflow: hidden;
		margin-left:10px;
		margin-right:10px;
		margin-bottom:10px;
		text-align:center;
		z-index:3;
	}
	
	.project .description {
		width:300px;
		height:50px;
		padding:10px 0px 0px 0px;
		margin-left:auto;
		margin-right:auto;
		z-index:4;
	}

	.sub_wrap {
		width:320px;
		margin-top:60px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:1;
	}
	
	.sub .sub_title {
		margin-left:0px;
		margin-right:0px;
		margin-bottom:18px;
	}
	
	.sub .sub_title_info {
		margin-left:0px;
		margin-right:0px;
		margin-bottom:30px;
	}
	
	.sub .contents_margin {
		margin-left:20px;
		margin-right:20px;
	}
	
}



@media (min-width:640px) and (max-width:974px){
	.wrap {
		margin-top:100px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	.gnb_wrap {
		width:640px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:11;
	}
	
	.gnb_title {
		width : 213px;
		height: 30px;
		background:url(../images/common_title.png) left top no-repeat;
		background-size:213px 30px;
		z-index:13;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		}
	
	.gnb_menu_wrap {
		width:640px;
		height:30px;
		vertical-align:middle;
	}
		
	.gnb_title_wrap {
		width:640px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:12;
	}
	
	.container_wrap {
		max-width:640px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:2;
	}
	
	.sub_wrap {
		width:640px;
		margin-top:60px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:1;
	}
	
	
	.sub .sub_title {
		margin-left:0px;
		margin-right:0px;
		margin-bottom:18px;
	}
	
	.sub .sub_title_info {
		margin-left:0px;
		margin-right:0px;
		margin-bottom:30px;
	}
	
	.sub .contents_margin {
		margin-left:20px;
		margin-right:20px;
	}
	
}

@media (min-width:975px) and (max-width:1294px){
	.gnb_wrap {
		width:960px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:11;
	}
	.container_wrap {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	z-index:2;}
}

@media (min-width:1300px){
	.gnb_wrap {
		width:1280px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		z-index:11;
	}
	
	.container_wrap {
	max-width:1280px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	z-index:2;}
}